<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>47025452574-83b6qun86vsf51cj55sje99akvr1ltpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47025452574-83b6qun86vsf51cj55sje99akvr1ltpp</string>
	<key>API_KEY</key>
	<string>AIzaSyA80R2E2XIxvwDOcAocH28Y1KVhBBSKlXs</string>
	<key>GCM_SENDER_ID</key>
	<string>47025452574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>phuongnt.ChatFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatmessenger-b5a6e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmessenger-b5a6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47025452574:ios:dab70be19ffc86ea</string>
	<key>DATABASE_URL</key>
	<string>https://chatmessenger-b5a6e.firebaseio.com</string>
</dict>
</plist>