<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248463758968-0iq6mk4fkuj7o0q0gvh4ul6ou2l99ord.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248463758968-0iq6mk4fkuj7o0q0gvh4ul6ou2l99ord</string>
	<key>API_KEY</key>
	<string>AIzaSyDrGmSYNjrfJS6M6yeAjzaoGH3SiWdghDU</string>
	<key>GCM_SENDER_ID</key>
	<string>248463758968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>phuongnt.ChatFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatfirebase-1e377</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebase-1e377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248463758968:ios:dab70be19ffc86ea</string>
	<key>DATABASE_URL</key>
	<string>https://chatfirebase-1e377.firebaseio.com</string>
</dict>
</plist>